@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --nav-item-shadow: rgba(0, 0, 0, 0.15);
    --nav-item-current: rgba(0, 0, 0, 0.08);
    --nav-container-shadow: rgba(0, 0, 0, 0.02);

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --nav-item-shadow: rgba(152, 150, 150, 0.15);
    --nav-item-current: rgba(144, 144, 144, 0.08);
    --nav-container-shadow: rgba(141, 141, 141, 0.02);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
    height: 100%;
  }
}

*::-webkit-scrollbar {
  width: 0.2rem;
}

#tab-section::-webkit-scrollbar {
  background: transparent;
  width: 0.2rem;
  opacity: 0;
}

#tab-section:hover::-webkit-scrollbar-thumb {
  background: hsl(var(--accent));
}

#tab-section::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.5rem;
  border-radius: 100vw;
}

#tab-section::-webkit-scrollbar-thumb {
  border-radius: 25vw;
}

::-moz-selection {
  color: hsl(var(--background));
  background: hsl(var(--foreground));
}

::selection {
  color: hsl(var(--background));
  background: hsl(var(--foreground));
}

/* Tailwind style */
.head-text {
  @apply text-4xl font-extrabold font-heading leading-[1.15] md:text-6xl sm:text-7xl;
}

.head-text-md {
  @apply text-3xl font-extrabold font-heading leading-[1.15] sm:text-5xl;
}

.head-text-sm {
  @apply text-2xl font-extrabold font-heading leading-[1.15] sm:text-4xl;
}

.social-link {
  @apply w-8 h-8 rounded border active:border-b active:scale-[0.97] hover:border-[0.2px] hover:border-b-4 hover:border-primary/30 transition-all duration-100 ease-in-out flex justify-center items-center;
}

.pebble {
  @apply border border-transparent active:border-b active:scale-[0.97] hover:border-b-4 hover:border-primary/30 transition-all transform-gpu duration-100 ease-in-out;
}

.nav-item {
  box-shadow: 0px -3px 2px var(--nav-item-shadow) inset;
}

.current {
  box-shadow: 0px 2px 5px var(--nav-item-current) inset,
    0px -1px 0.5px var(--nav-item-current) inset;
}

.nav-container {
  box-shadow: 1px 5px 5px var(--nav-container-shadow),
    -1px 5px 5px var(--nav-container-shadow);
}

/* view transition api */
.page-transition {
  opacity: 0;
  transition: opacity 0.7s ease;
}

.page-transition.active {
  opacity: 1;
}

@supports (view-transition-name: none) {
  .page-transition {
    transition: none;
  }

  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: linear(
      0 0%, 0.2342 12.49%, 0.4374 24.99%,
      0.6093 37.49%, 0.6835 43.74%,
      0.7499 49.99%, 0.8086 56.25%,
      0.8593 62.5%, 0.9023 68.75%, 0.9375 75%,
      0.9648 81.25%, 0.9844 87.5%,
      0.9961 93.75%, 1 100%
    );
  }

  ::view-transition-new(root) {
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>') top left / 0 no-repeat;
    mask-origin: content-box;
    animation: scale 1s;
    transform-origin: top left;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: scale 1s;
    transform-origin: top left;
    z-index: -1;
  }

  @keyframes scale {
    to {
      mask-size: 350vmax;
    }
  }
}
